/* nav */
.navbar {
    margin: 2rem 170px;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-container p {
   color: var(--White);
   font-family: var(--font-family--primary);
    font-size: 32px;
    line-height: 32px;
}
.social-media {
    display: flex;
    gap: 1rem;
    align-items: center;
    z-index: 9;
}

/* hero */
.hero {
    margin: 120px 170px;
}
.rings{
    position: absolute;
    width: 530px;
    height: 129px;
    left: -100px;
    top: 133px;
    mix-blend-mode: normal;
    opacity: 0.25;
}
.circles{
    position: absolute;
    top: 521px;
    left: 766px;
    z-index: 9;
}
.hero-container {
    display: flex;
    align-items: center;
}
.intro {
  font-family: var(--font-family--primary);
  z-index: 9;
}
.intro h1 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-headingXL);
    width: 790px;
    color: var(--White);
}
.intro span {
    text-decoration:underline;
    text-decoration-color: var(--Green);
}
.intro p {
width: 500px;
color: var(--Gray);
font-size: var(--font-size-body);
font-weight: 500;
line-height: 28px;
margin-top: 2rem;
}
.intro a {
     color: var(--Green);
     text-decoration-color: var(--Green);
}
.hero-container img {
    position: absolute;
    width: 445px;
    height: 720px;
    left: 830px;
    top: 0;
}

/* Home */

.about{
    margin: 220px 170px;
    border-top: solid var(--White) 1px;
}
.about-container {
    margin-top: 30px;
    font-family: var(--font-family--primary);
    display:block;
}
.about-container h1 {
    font-size: var(--font-size-headingXL);
    color: var(--White);
}
.about-container p {
    color: var(--Gray);
    font-size: 20px;
}
.lang-list {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lang-list li h2 {
    color: var(--White);
    font-size: var(--font-size-headingL);
    text-decoration:underline;
    text-decoration-color: var(--Green);
}
.lang-list li p {
    color: var(--Gray);
}

/* project section */

.projects {
    margin: 10px 170px;
}
.projects h1 {
    color: var(--White);
    font-family: var(--font-family--primary);
    font-size: var(--font-size-headingXL);
}
.projects-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    font-family: var(--font-family--primary);
}

.content h2 {
    margin-top: 20px;
    color: var(--White);
    font-size: var(--font-size-headingM);
}
.content p {
    margin-top: 10px;
    color: var(--Gray);
    font-size: 1rem;
}
.project-image {
    width: 100%;
    position: relative;
}
.project-image img {
    display: block;
}
.project-links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.project-links a {
    color: var(--Gray);
    text-decoration: underline;
    text-decoration-color: var(--Green);
}
.project-links:hover{
    opacity: 1;
}

/* contact */

.contact {
    background-color: var(--DarkGray);
}
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 139px 170px;
    font-family: var(--font-family--primary);
    padding-top: 84px;
}
.contacting {
    width: 450px;
}
.contacting h1 {
    font-size: var(--font-size-headingL);
    color: var(--White);
}
.contacting p {
    color: var(--Gray);
    margin-top: 1rem;
}

form input {
    background: none;
    border: none;
    border-bottom: 1px solid var(--Gray);
    color: var(--Gray);
    width: 390px;
    padding-top: 1rem;
}
form input[type=text]{
    padding-left: 2rem;
    padding-bottom: 1rem;
}
form textarea {
    margin-top: 2rem;
    border: none;
    background: none;
    border-bottom: 1px solid var(--Gray);
    color: var(--Gray);
}
form textarea [type=text]{
    opacity: 0.5;
}
.form-section button {
    border: none;
    background: none;
    margin-top: 2rem;
    color: var(--White);
    text-decoration: underline;
    text-decoration-color: var(--Green);    
}

/* footer */
.footer-container {
    border-top: 1px solid var(--White);
    margin: 100px 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.footer-container p {
    color: var(--White);
    font-family: var(--font-family--primary);
    font-size: var(--font-size-headingM);
}

