/* nav */
.navbar {
    margin: 2rem 170px;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-container p {
   color: var(--White);
   font-family: var(--font-family--primary);
    font-size: 32px;
    line-height: 32px;
}
.social-media {
    display: flex;
    gap: 1rem;
    align-items: center;
    z-index: 9;
}

/* hero */
.hero {
    margin: 120px 170px;
}
.rings{
    position: absolute;
    width: 530px;
    height: 129px;
    left: -100px;
    top: 133px;
    mix-blend-mode: normal;
    opacity: 0.25;
}
.circles{
    position: absolute;
    top: 521px;
    left: 766px;
    z-index: 9;
}
.hero-container {
    display: flex;
    align-items: center;
}
.intro {
  font-family: var(--font-family--primary);
  z-index: 9;
}
.intro h1 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-headingXL);
    width: 790px;
    color: var(--White);
}
.intro span {
    text-decoration:underline;
    text-decoration-color: var(--Green);
}
.intro p {
width: 500px;
color: var(--Gray);
font-size: var(--font-size-body);
font-weight: 500;
line-height: 28px;
margin-top: 2rem;
}
.intro a {
     color: var(--Green);
     text-decoration-color: var(--Green);
}
.hero-container img {
    position: absolute;
    width: 445px;
    height: 720px;
    left: 830px;
    top: 0;
}

/* Home */

.about{
    margin: 220px 170px;
    border-top: solid var(--White) 1px;
}
.about-container {
    margin-top: 30px;
    font-family: var(--font-family--primary);
    display:block;
}
.about-container h1 {
    font-size: var(--font-size-headingXL);
    color: var(--White);
}
.about-container p {
    color: var(--Gray);
    font-size: 20px;
}
.lang-list {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lang-list li h2 {
    color: var(--White);
    font-size: var(--font-size-headingL);
    text-decoration:underline;
    text-decoration-color: var(--Green);
}
.lang-list li p {
    color: var(--Gray);
}


