/* nav */
.navbar {
    margin-top: 2rem;
    margin-left: 170px;
    margin-right: 170px;
}
.mobile-navbar {
    display: none;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-container p {
   color: var(--White);
   font-family: var(--font-family--primary);
    font-size: 32px;
    line-height: 32px;
}
.social-media {
    display: flex;
    gap: 1rem;
    align-items: center;
    z-index: 9;
}

/* hero */
.hero {
    margin: 120px 170px;
}
.rings{
    position: absolute;
    width: 530px;
    height: 129px;
    left: -100px;
    top: 133px;
    mix-blend-mode: normal;
    opacity: 0.25;
}
.circles{
    position: absolute;
    top: 521px;
    left: 766px;
    z-index: 9;
}
.hero-container {
    display: flex;
    align-items: center;
}
.intro {
  font-family: var(--font-family--primary);
  z-index: 9;
}
.intro h1 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-headingXL);
    width: 790px;
    color: var(--White);
}
.intro span {
    text-decoration:underline;
    text-decoration-color: var(--Green);
}
.intro p {
width: 500px;
color: var(--Gray);
font-size: var(--font-size-body);
font-weight: 500;
line-height: 28px;
margin-top: 2rem;
}
.intro a {
     color: var(--Green);
     text-decoration-color: var(--Green);
}
.hero-container img {
    position: absolute;
    width: 445px;
    height: 720px;
    left: 830px;
    top: 0;
}

/* Home */

.about{
    border-top: solid var(--White) 1px;
    margin: 200px 170px;
}
.about-container {
    margin-top: 30px;
    font-family: var(--font-family--primary);
    display:block;
}
.about-container h1 {
    font-size: var(--font-size-headingXL);
    color: var(--White);
}
.about-container p {
    color: var(--Gray);
    font-size: 20px;
}
.lang-list {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lang-list li h2 {
    color: var(--White);
    font-size: var(--font-size-headingL);
    text-decoration:underline;
    text-decoration-color: var(--Green);
}
.lang-list li p {
    color: var(--Gray);
}

/* project section */

.projects {
    margin: 10px 170px;
}
.projects h1 {
    color: var(--White);
    font-family: var(--font-family--primary);
    font-size: var(--font-size-headingXL);
}
.projects-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    font-family: var(--font-family--primary);
}

.content h2 {
    margin-top: 20px;
    color: var(--White);
    font-size: var(--font-size-headingM);
}
.content p {
    margin-top: 10px;
    color: var(--Gray);
    font-size: 1rem;
}
.project-image {
    width: 100%;
    position: relative;
}
.project-image img {
    display: block;
}
.project-links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.project-links a {
    color: var(--Gray);
    text-decoration: underline;
    text-decoration-color: var(--Green);
}
.project-links:hover{
    opacity: 1;
}
.mobile-tablet-links {
    display: none;
}

/* contact */

.contact {
    background-color: var(--DarkGray);
}
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 139px;
    margin-left: 170px;
    margin-right: 170px;
    font-family: var(--font-family--primary);
    padding-top: 85px;
}
.contacting {
   width: 100%;
}
.contacting h1 {
    font-size: var(--font-size-headingL);
    color: var(--White);
}
.contacting p {
    color: var(--Gray);
    margin-top: 1rem;
}

form input {
    background: none;
    border: none;
    border-bottom: 1px solid var(--Gray);
    color: var(--Gray);
    width: 390px;
    padding-top: 1rem;
}
form input[type=text]{
    padding-left: 2rem;
    padding-bottom: 1rem;
}
form textarea {
    margin-top: 2rem;
    border: none;
    background: none;
    border-bottom: 1px solid var(--Gray);
    color: var(--Gray);
}
form textarea [type=text]{
    opacity: 0.5;
}
.form-section button {
    border: none;
    background: none;
    margin-top: 2rem;
    color: var(--White);
    text-decoration: underline;
    text-decoration-color: var(--Green);    
}

/* footer */
.footer-container {
    border-top: 1px solid var(--White);
    margin-top: 100px;
    margin-left: 170px;
    margin-right: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.footer-container p {
    color: var(--White);
    font-family: var(--font-family--primary);
    font-size: var(--font-size-headingM);
}

/* tablet */
@media screen and (max-width: 768px) {
    .navbar {
       position: absolute;
       top: 30px;
       left: 60px;
       margin: auto;
       width: 708px;
    }
    .rings {
        opacity: 0.8;
        left: -265px;
    }
    .circles {
        visibility: hidden;
    }
    .hero {
        margin: 200px 2rem;
    }
    .intro h1 {
        font-size: 72px;
        width: 500px;
    }
    .intro p {
        width: 410px;
    }
    .hero-container img {
        left: 420px;
        top: 0;
        width: 400px;
    }
    .about {
        margin: 20px 30px;
    }
    .about-container {
        display: block;
    } 
    .about-container p {
        margin-top: 1rem;
    }
    .lang-list {
        columns: 2;
        column-gap: 4rem;
        display: block;
    }
    .projects {
        margin: 100px 2rem;
    }
    .project-links {
       display: none;
    }
    .mobile-tablet-links {
        display: flex;
        gap: 2rem;
    }
    .mobile-tablet-links a {
        color: var(--Gray);
    text-decoration: underline;
    text-decoration-color: var(--Green);
    transition: ease 500ms all;
    }
    .mobile-tablet-links a:hover {
        color: var(--Green);
    }
    .contact-container {
        display: block;
        text-align: center;
    }
}

/* mobile */
@media screen and (max-width:390px) {   
    .navbar-container {
       display: flex;
       width: 90%;
       align-items: center;
    }
    .rings {
        display: none;
    }
    .navbar {
        position: none;
       top: 1rem;
       left: 1rem;
       width: 100%;
    }
    .navbar-container p {
        color: var(--White);
        font-family: var(--font-family--primary);
        font-size: 1rem;
    }
    .social-media {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 1rem;
    }
    .social-media img {
        width: 20px;
    }
    .hero {
        margin: 9rem 1rem;
    }
    .hero-container {
        display: block;
        text-align: center;
    }
    .intro h1 {
        font-size: 30px;
        width: 350px;
    }
    .intro p {
        width: 350px;
    }
    .hero-container img {
        display: none;
    }
    .about-container h1 {
        font-size: var(--font-size-headingL);
        text-align: center;
    }
    .about-container p {
        text-align: center;
    }
    .lang-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }
    .lang-list li h2 {
        font-size: 32px;
    }
    .lang-list li p {
        font-size: 1rem;
    }
    .projects {
        border-top: 1px solid var(--Gray);
    }
    .projects h1 {
        margin-top: 20px;
        font-size: 40px;
    }
    .projects-container {
        display: flex;
        flex-direction: column;
    }
    form input {
        width: 300px;
    }
    form textarea {
        width: 300px;
    }
    .contact {
        margin: auto;
    }
    .contact-container {
        margin: auto;
        width: 375px;
    }
    .contacting {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contacting h1 {
        font-size: 40px;
    }
    .contacting p {
        font-size: 1rem;
       padding: 1rem 1rem;
    }
    .footer-container {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-bottom: 2rem;
    }
    .footer-container p {
        font-size: 1rem;
    }
}

